* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #111827;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

/* SECTIONS */
.section {
  padding: 80px 50px;
  text-align: center;

  /* animation base */
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

/* active animation */
.section.show {
  opacity: 1;
  transform: translateY(0);
}

.section h1 {
  margin-bottom: 20px;
  color: #38bdf8;
}

/* GRID CARDS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
}

button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  margin-top: 40px;
}

/* SECTION COLORS */
#home {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
}

#about {
  background: linear-gradient(135deg, #111827, #0f766e);
}

#skills {
  background: linear-gradient(135deg, #1f2937, #7c3aed);
}

#projects {
  background: linear-gradient(135deg, #0f172a, #b91c1c);
}

#contact {
  background: linear-gradient(135deg, #111827, #2563eb);
}